<div class="card mg-top-small">
    <div class="card-header">
        PRODUCT
    </div>
    <ul class="list-group">
        <li class="list-group-item">
                Refrigerator/Freezer
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <li class="list-group-item">
                    Vertical Type
                </li>
                <li class="list-group-item">
                    Horizontal Type
                </li>
                <li class="list-group-item">
                    Multipurpose
                </li>
                <li class="list-group-item">
                    Table
                </li>
                <li class="list-group-item">
                    Side Refrigerator
                </li>
                <li class="list-group-item">
                    Water Storage Refrigerator
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            Gas Stove, Fyer, Burner
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <li class="list-group-item">
                    Commercial Gas
                </li>
                <li class="list-group-item">
                    Grill/Griddle/Oven
                </li>
                <li class="list-group-item">
                    Fyer
                </li>
                <li class="list-group-item">
                    Gas Neutralization
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            Sink/Counter
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <li class="list-group-item">
                    Sink
                </li>
                <li class="list-group-item">
                    Counter
                </li>
                <li class="list-group-item">
                    Shelf
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            Serving Cart/Moving Cart
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <li class="list-group-item">
                    Plastic
                </li>
                <li class="list-group-item">
                    Wood
                </li>
                <li class="list-group-item">
                    Stainless
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            Office
        </li>
        <li class="list-group-item">
            Security
        </li>
        <li class="list-group-item">
            Vault
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <li class="list-group-item">
                    Overflow Safe Deposit Box
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            Construction Material
        </li>
    </ul>
</div>