<div class="card mg-top-small">
    <div class="card-header">
        PRODUCT
    </div>
    <ul class="list-group">
        <li class="list-group-item">
                Refrigerator/Freezer
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <a href="/product/refrigerator/vertical type">
                    <li class="list-group-item">
                        Vertical Type
                    </li>
                </a>
                <a href="/product/refrigerator/horizontal type">
                    <li class="list-group-item">
                        Horizontal Type
                    </li>
                </a>
                <a href="/product/refrigerator/multipurpose">
                    <li class="list-group-item">
                        Multipurpose
                    </li>
                </a>
                <a href="/product/refrigerator/table type">
                    <li class="list-group-item">
                        Table Type
                    </li>
                </a>
                <a href="/product/refrigerator/side refrigerator">
                    <li class="list-group-item">
                        Side Refrigerator
                    </li>
                </a>
                <a href="/product/refrigerator/water storage refrigerator">
                    <li class="list-group-item">
                        Water Storage Refrigerator
                    </li>
                </a>
            </ul>
        </li>
        <li class="list-group-item">
            Gas Stove, Fyer, Burner
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <a href="/product/gas stove, fryer, burner/commercial gas">
                    <li class="list-group-item">
                        Commercial Gas
                    </li>
                </a>
                <a href="/product/gas stove, fryer, burner/grill, griddle, over">
                    <li class="list-group-item">
                        Grill/Griddle/Oven
                    </li>
                </a>
                <a href="/product/gas stove, fryer, burner/fyer">
                    <li class="list-group-item">
                        Fyer
                    </li>
                </a>
                <a href="/product/gas stove, fryer, burner/gas neutralization">
                    <li class="list-group-item">
                        Gas Neutralization
                    </li>
                </a>
            </ul>
        </li>
        <li class="list-group-item">
            Sink/Counter
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <a href="/product/sink, counter/sink">
                    <li class="list-group-item">
                        Sink
                    </li>
                </a>
                <a href="/product/sink, counter/counter">
                    <li class="list-group-item">
                        Counter
                    </li>
                </a>
                <a href="/product/sink, counter/shelf">
                    <li class="list-group-item">
                        Shelf
                    </li>
                </a>
            </ul>
        </li>
        <li class="list-group-item">
            Serving Cart/Moving Cart
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <a href="/product/serving cart, moving cart/plastic">
                    <li class="list-group-item">
                        Plastic
                    </li>
                </a>
                <a href="/product/serving cart, moving cart/wood">
                    <li class="list-group-item">
                        Wood
                    </li>
                </a>
                <a href="/product/serving cart, moving cart/stainless">
                    <li class="list-group-item">
                        Stainless
                    </li>
                </a>
            </ul>
        </li>
        <a href="/product/office">
            <li class="list-group-item">
                Office
            </li>
        </a>
        <a href="/product/security">
            <li class="list-group-item">
                Security
            </li>
        </a>
        <li class="list-group-item">
            Vault
            <i class="fa fa-chevron-right right" aria-hidden="true"></i>

            <ul class=" list-group">
                <a href="/product/vault/overflow safe deposit box">
                    <li class="list-group-item">
                        Overflow Safe Deposit Box
                    </li>
                </a>
            </ul>
        </li>
        <a href="/product/construction material">
            <li class="list-group-item">
                Construction Material
            </li>
        </a>
    </ul>
</div>