{% extends "::base.html.twig" %}

{% block title %}MIKWebsiteBundle:ProductList:showProduct{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/product.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        {% if products|length <= 0 %}
            <div class="card mg-top-small text-center col-md-12">
                No Product Found
            </div>
        {% endif %}

        {% for product in products %}
            <div class="text-center card-item card col-md-4 col-sm-12 col-12 mg-top-small" >
                <img class="card-img-top prod-img" src="{{ asset('img/pr3.jpg') }}" alt="Card image cap">
                <div class="card-header">
                    {{ product.prodActName | upper }}
                </div>
                <div class="card-body">
                    <p class="card-tex">Size: (90x60x80)
                    <span class="badge badge-primary">Price: ₱{{ product.prodPrice }}.00</span></p>
                </div>
                <a href="#" class="add-card-button">
                    <div class="card-footer">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Add Cart
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

