.product-list .product-type-list {
    transition: height 0.2s ;
    position: absolute;
    padding: 5px;
    width: 100%;
    left: 0;
    z-index: 1;
}

.hide-type-list {
    visibility: hidden;
    height: 0px;
}

.show-type-list {
    height: 200px;
    background-color: #666;
    clear: both;
    display: block;
    opacity: 1;
    visibility: visible;
}