body {
    background-color:rgb(235,235,235);
}

.mg-top-small {
    margin-top: 20px;
}

.mg-top {
    margin-top: 70px;
}

.input-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-container-mg-top {
    margin-top:15px;
}

.item-depth {
    box-shadow: 0px 0px 2px 0px black;
}

.item-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px;
    padding:10px;
}

.item-container-2 {
    background-color: rgb(245, 245, 245);
    border-radius: 10px 10px;
    padding:10px;
}

.right {
    float: right !important;
}

.mg-center {
    margin:auto auto !important;
}

#main-footer {
    padding: 20px;
    color: white;
}

.paddimize {
    padding: 15px;
}

.paddimize-bottom {
    padding-bottom: 50px;
}

.paddimize-sides {
    padding-left: 15px;
    padding-right: 15px;
}

.list-group .list-group-item ul {
    transition: all 0.8;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
    width: 100%;
    z-index: 1;
}

.list-group .list-group-item:hover > ul{
    opacity: 1;
    visibility: visible;
    color: black;
}

.list-group .list-group-item:hover {
    cursor: pointer;
    background-color: rgb(194, 187, 187);
    color: white;
}

nav {
    border-bottom: 1px solid #666;
    box-shadow: 0px -5px 10px 1px black;
}