{% extends "::base.html.twig" %}

{% block title %}MIKWebsiteBundle:AboutUs:aboutUs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                Mandaue Branch
            </div class="card-body">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2775.4912118494167!2d123.93368278687636!3d10.330894347621705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a999ab318bb233%3A0xb54ce20320f0cfe2!2sMIK!5e0!3m2!1sen!2sph!4v1509258135069" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="card mg-top-small">
            <div class="card-header">
                Minglanilla Branch
            </div class="card-body">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1963.0325354941383!2d123.81187570441716!3d10.256335831485588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a99d6e86828545%3A0xda2cde39563e3824!2sMIK+Mingnanilla!5e0!3m2!1sen!2sph!4v1509258402373" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
     
{% endblock %}
