.row .card {
    background-color: transparent ;
    border:0px;
}

.card img {
    max-height: 220px;
}

.card-item:hover{
    background-color:white;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px black;
}